@media (min-width: 1224px) and (max-width: 1441px) {
  .wrapper {
    width: 900px;
    padding: 0px 150px;
  }
  header .wrapper {
    padding: 41px 150px 71px;
  }
}
@media (min-width: 1122px) and (max-width: 1223px) {
  .wrapper {
    padding: 0px 80px;
  }
  header .wrapper {
    padding: 31px 80px 61px;
  }
}
@media (min-width: 1064px) and (max-width: 1121px) {
  .wrapper {
    width: 70%;
    padding: 0px 70px;
  }
  header .wrapper {
    padding: 31px 70px 61px;
  }
}
@media (min-width: 320px) and (max-width: 1121px) {
  header .logo_main {
    margin-bottom: 150px;
  }
  .about .layouts-2-columns {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .services_main .layouts-3-columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .services_main__title,
  .services_main__description {
    margin-bottom: 30px;
    padding-left: 0;
  }
  .services_main__description {
    width: auto;
  }
  .services_content .layouts-3-columns {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .cards_services {
    margin-right: 0;
  }
  .layouts-4-columns {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (min-width: 320px) and (max-width: 892px) {
  .about_gallery .layouts-3-columns {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .about_title {
    margin-bottom: 42px;
  }
  .services_main {
    padding-bottom: 40px;
  }
  .card:not(:last-child) {
    margin-right: 10px;
  }
  .work_title {
    margin: 20px 0 25px;
  }
  .work .wrapper {
    padding-bottom: 51px;
  }
  .form .wrapper {
    padding-bottom: 20px;
  }
  .form_title {
    display: block;
    padding-bottom: 10px;
    margin-right: 0;
  }
}
@media (min-width: 320px) and (max-width: 792px) {
  .links {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .social_links {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
}
@media (min-width: 320px) and (max-width: 442px) {
  .card {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .card:not(:last-child) {
    margin-right: 0;
  }
}
@media (min-width: 320px) and (max-width: 580px) {
  .links {
    order: 2;
  }
  .social_links {
    order: 4;
  }
}
@media (min-width: 320px) and (max-width: 1063px) {
  .wrapper {
    width: 70%;
    padding: 0px 40px;
  }
  header .wrapper {
    padding: 11px 40px 31px;
  }
}
@media (min-width: 320px) and (max-width: 415px) {
  .card {
    margin-right: 0 !important;
  }
  .work_title {
    width: auto;
  }
}
@media (min-width: 320px) and (max-width: 700px) {
  nav {
    position: fixed;
    width: 100%;
    background-color: #141A20;
  }
  nav .logo {
    display: none;
  }
  nav .navigation_bar {
    padding: 27.5px 0px;
  }
  nav .layouts-2-columns {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .menu_item {
    margin-right: 10px;
  }
  .menu_item a {
    color: #FFFFFF;
  }
  header {
    margin-top: 70px;
  }
}
@media (min-width: 320px) and (max-width: 453px) {
  .burger_menu {
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
    z-index: 2;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
  .burger_menu span,
  .burger_menu span::before,
  .burger_menu span::after {
    display: block;
    width: 40px;
    height: 3px;
    position: absolute;
    background-color: orange;
    border-radius: 5px;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
  .burger_menu span::after,
  .burger_menu span::before {
    content: "";
  }
  .burger_menu span {
    top: 20px;
  }
  .burger_menu span::before {
    top: -10px;
  }
  .burger_menu span::after {
    top: 10px;
  }
  .show {
    -webkit-transform: translateX(-300%);
    -ms-transform: translateX(-300%);
    transform: translateX(-300%);
  }
  .show span::after {
    top: 0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .show span::before {
    top: 0;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  .show span {
    background-color: transparent;
  }
  nav .navigation_bar {
    padding: 15px 0px;
  }
  .menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 70vw;
    height: 100vh;
    background: #141A20;
    -webkit-box-shadow: 0px 40px 100px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 40px 100px rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: hidden;
  }
  .menu_bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 112px 0px 0px 40px;
  }
  .menu_bar__show {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    visibility: visible;
  }
  .menu_item:not(:last-child) {
    margin-bottom: 20px;
  }
}
