@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

@font-face {
    font-family: "BlackJackRegular";
    src: url("../assets/fonts/BlackJack.otf") format("opentype");
}

@font-face {
    font-family: "ProximaNovaRegular";
    src: url("../assets/fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
    src: url("../assets/fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"), url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ProximaNovaBold";
    src: url("../assets/fonts/ProximaNovaBold/ProximaNovaBold.eot");
    src: url("../assets/fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"), url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ProximaNovaBlack";
    src: url("../assets/fonts/ProximaNovaBlack/ProximaNovaBlack.eot");
    src: url("../assets/fonts/ProximaNovaBlack/ProximaNovaBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaBlack/ProximaNovaBlack.woff") format("woff"), url("../fonts/ProximaNovaBlack/ProximaNovaBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "ProximaNovaRegular";
    margin: 0 auto;
    /* max-width: 1600px;
    min-width: 75%;*/
    box-sizing: border-box;
}

.wrapper {
    max-width: 938px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    border: solid 2px #ffffff;
    width: 173px;
    height: 55px;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

/*HEADER*/
header {
    background: repeating-linear-gradient(-45deg, #04c4ec, #04c4ec 5px, #08c4ec, #08c4ec 130px);
}

.header_nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.logo {
    background-color: #ffffff;
    width: 100px;
    height: 100px;
    box-shadow: 14px 14px rgba(13, 169, 229, 0.7);
}

.logo a {
    font-family: "Kaushan Script";
    color: #0da9e5;
    font-size: 50px;
    font-weight: 400;
    line-height: 75px;
    height: 100%;
    display: block;
    text-align: center;
}

.navigation {
    position: absolute;
    transform: translateY(50%);
    left: 30%;
    width: 600px;
    z-index: 101;
}

.menu a {
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
    font-size: 18px;
    padding: 5px;
    display: block;
}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.menu .fa {
    border-radius: 50%;
    color: #52aede;
    margin-right: 20px;
    background-color: #fff;
    width: 50px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
}

.close {
    display: none;
}

.open {
    display: block;
}

.burger_menu {
    display: block;
    width: 30px;
    height: 40px;
    position: relative;
    cursor: pointer;
    margin-top: 28px;
    z-index: 101;
}

.burger_menu:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.burger_menu span {
    height: 4px;
    width: 30px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 5px;
    right: 0;
    transition: all 0.3s linear;
}

.one {
    top: 10px;
}

.two {
    top: 16px;
}

.three {
    top: 22px;
}

.four {
    top: 28px;
}

.open .one {
    transform: rotate(45deg);
    top: 23px;
    border-radius: 3px;
    height: 5px;
}

.open .two,
.open .three {
    display: none;
}

.open .four {
    transform: rotate(-45deg);
    top: 23px;
    border-radius: 3px;
    height: 5px;
}

.overlay::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(243, 120, 122, 0.9);
    transition: all 0.6s ease-in-out;
    z-index: 100;
}

.header_content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.header_content__image {
    position: absolute;
    background-image: url('../assets/img/iphone.png');
    width: 228px;
    height: 267px;
    bottom: 0;
    left: 70px;
}

.header_title {
    font-family: "BlackJackRegular";
    color: #ffffff;
    font-size: 70px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 20px;
    margin-top: 30px;
}

.header__description {
    font-family: "ProximaNovaRegular";
    color: #ffffff;
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 49px;
}

.header__description span {
    font-weight: 700;
    font-style: italic;
}

.btn_dwnload {
    background-color: transparent;
    margin-bottom: 230px;
}

.btn_dwnload a {
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    line-height: 50px;
    display: block;
    height: 100%;
    text-transform: uppercase;
}

.btn_dwnload a:hover {
    color: #7dbbf0;
    background-color: #ffffff;
}