@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@font-face {
  font-family: "BlackJackRegular";
  src: url("../fonts/BlackJack.otf") format("opentype");
}
@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
  src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"), url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");
  src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"), url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "ProximaNovaBlack";
  src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot");
  src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaBlack/ProximaNovaBlack.woff") format("woff"), url("../fonts/ProximaNovaBlack/ProximaNovaBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
*{
    padding:0;
    margin:0;
}
body {
    font-family: 'ProximaNovaRegular';
    margin: 0 auto;
    max-width: 1600px;
    min-width: 75%;
    box-sizing: border-box;
  }
  .wrapper {
    max-width: 74.6%;
    margin: 0 auto;
    border:1px solid red;
  }